<ion-view cache-view="false">
    <ion-content class="royal-bg by-alpha-page" scroll="false">
      
      <div class="padding text-center bottom-b">
      <img class="logo-image" src="img/baby images/smilebaby.png" />
    </div>
    <ion-scroll direction="y" style="height: 43%" class="pink1 div-spcr">
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('a')">
          <img src="img/alpha/a.png">
        </div>
        <div class="col-33" ng-click="openGender('b')">
          <img src="img/alpha/b.png">
        </div>
        <div class="col-33" ng-click="openGender('c')">
          <img src="img/alpha/c.png">
        </div>
      </div>
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('d')">
          <img src="img/alpha/d.png">
        </div>
        <div class="col-33" ng-click="openGender('e')">
          <img src="img/alpha/e.png">
        </div>
        <div class="col-33" ng-click="openGender('f')">
          <img src="img/alpha/f.png">
        </div>
      </div>
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('g')">
          <img src="img/alpha/g.png">
        </div>
        <div class="col-33" ng-click="openGender('h')">
          <img src="img/alpha/h.png">
        </div>
        <div class="col-33" ng-click="openGender('i')">
          <img src="img/alpha/i.png">
        </div>
      </div>
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('j')">
          <img src="img/alpha/j.png">
        </div>
        <div class="col-33" ng-click="openGender('k')">
          <img src="img/alpha/k.png">
        </div>
        <div class="col-33" ng-click="openGender('l')">
          <img src="img/alpha/l.png">
        </div>
      </div>
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('m')">
          <img src="img/alpha/m.png">
        </div>
        <div class="col-33" ng-click="openGender('n')">
          <img src="img/alpha/n.png">
        </div>
        <div class="col-33" ng-click="openGender('o')">
          <img src="img/alpha/o.png">
        </div>
      </div>
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('p')">
          <img src="img/alpha/p.png">
        </div>
        <div class="col-33" ng-click="openGender('q')">
          <img src="img/alpha/q.png">
        </div>
        <div class="col-33" ng-click="openGender('r')">
          <img src="img/alpha/r.png">
        </div>
      </div>
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('s')">
          <img src="img/alpha/s.png">
        </div>
        <div class="col-33" ng-click="openGender('t')">
          <img src="img/alpha/t.png">
        </div>
        <div class="col-33" ng-click="openGender('u')">
          <img src="img/alpha/u.png">
        </div>
      </div>
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('v')">
          <img src="img/alpha/v.png">
        </div>
        <div class="col-33" ng-click="openGender('w')">
          <img src="img/alpha/w.png">
        </div>
        <div class="col-33" ng-click="openGender('x')">
          <img src="img/alpha/x.png">
        </div>
      </div>
      <div class="row text-center by_alpha">
        <div class="col-33" ng-click="openGender('y')">
          <img src="img/alpha/y.png">
        </div>
        <div class="col-33" ng-click="openGender('z')">
          <img src="img/alpha/z.png">
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
