<ion-view >
  <ion-content class="favourite-page royal-bg">
    <h3 class="text-center mono title bablog_text">Contact-Us</h3>
    <div class=" transparent">
      <div class="item item-text-wrap mono">
        <div class="row">
          <div class="col  text-center">
          <label class=" item-input">
            <span class="input-label energized">Phone No.</span>
            <span class="highlight-text contact-info"> 01149324663</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col  text-center">
          <label class=" item-input mono">
            <span class="input-label energized">Email Id</span>
            <span class="highlight-text contact-info">contactus@uniquesikhbabynames.com</span>
          </label>
          <label class=" item-input mono">
              <span class="input-label energized">Other Email Id</span>
              <span class="highlight-text contact-info">contactus@dukantastic.com</span>
            </label>
        </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
