<ion-view>

  <ion-content class="royal-bg gender-page home-page" scroll="false">
    
    <div class="gen_left" ng-click="openCategory('Male')">
        <div class="padding text-center">
            <img class="gender-image" src="img/alpha/10.png" />
        </div>
    </div>
    <div class="gen_right" ng-click="openCategory('Male')">
        <p class="gen_text boy-text">Boy</p>
    </div>

    <div class="gen_left" ng-click="openCategory('Female')">
        <div class="padding text-center">
            <img class="gender-image" src="img/baby images/singlebaby.png" />
        </div>
    </div>
    <div class="gen_right" ng-click="openCategory('Female')">
        <p class="gen_text girl-text">Girl</p>
    </div>

    <div class="gen_left" ng-click="openCategory('Unisex')">
        <div class="padding text-center">
            <img class="c-dualbby" src="img/baby images/dualbaby.png" />
        </div>
    </div>
    <div class="gen_right" ng-click="openCategory('Unisex')">
        <p class="gen_text all-text">All</p>
    </div>
  </ion-content>
</ion-view>
