<ion-view >
  <ion-content class="royal-bg home-page royal-bg-new scrollh">
    <div class="text-center"><!-- padding -->

        <img class="logo-image" src="img/baby images/smilebaby.png" />

    </div>
    <div class="list energized">
      <a class="item item-icon-left" ng-click="searchName()">
        <img class="icon list-icon-img" src="img/1.png"/>
        SEARCH NAMES
      </a>
      <a class="item item-icon-left " ng-click="openCompare()">
        <img class="icon list-icon-img" src="img/3.png"/>
        COMPARE MOM AND DAD
      </a>
      <a class="item item-icon-left" ng-click="viewUnique()" >
        <img class="icon list-icon-img" src="img/4.png"/>
        VIEW UNIQUE NAMES
      </a>
      
      <a class="item item-icon-left" ng-click="favList()">
        <img class="icon list-icon-img" src="img/5.png"/>
        FAVOURITES
      </a>
      <a class="item item-icon-left" ng-click="nameList()">
        <img class="icon list-icon-img" src="img/alpha/6.png"/>
        FINAL LIST
      </a>

    </div>
  </ion-content>
</ion-view>
