<ion-view >
  <ion-content class="favourite-page royal-bg padding">
    <h3 class="text-center title mono bablog_text">Shipping & Delivery Information</h3>
    <div class="row">
      <div class="newfont text-center">
        <p class="energized newfont newfon-size">
      <p>Our goal is to offer you the names really fast, no matter where you live. Every day, we deliver to hundreds of customers across the world, ensuring that we provide the very highest levels of responsiveness to you at all times.</p> 
     
      <p>The time frame for name delivery is the following: </p>
     
          <p>&#8226; Processing time: Order verification, processing and allotment. We ensure that the following processes finish as soon as possible so that we can allot you the names you bought at the earliest.
          However there might be cases where even though you got a payment confirmation but we did not and also our automatic processors were not able to allot you the names you bought. In this case we try and allot you the names using the following 2 subsequent processes.</p>
          <div class="gap">
              <p class="gap">&#8226; We check for such issues every 4 hours manually and if we come across such an issue we try to fix it ASAP to allot you the names.</p>
              <p class="gap">&#8226; You can get in touch with us on contactus@uniquesikhbabynames.com or on contactus@kiryanaoffers.com and highlight the issue to us so that we can solve it ASAP.</p>
              <p class="gap">&#8226; We would try and resolve all such issues within 2 Working days. However if we fail to do so we will refund the charges in full.</p>
            </div>
              
        </p>
  </div>
</div>
  </ion-content>
</ion-view>
