<!-- <ion-view class="home-float" view-title="Unique Sikh Baby Names" id="hm-f" ng-click="home()" hide-nav-bar="false" scroll="false" > -->

<ion-view >
  <ion-content class="royal-bg home-page">
   
      <div class="padding text-center sea-mam">
      <img class="logo-image" src="img/baby images/smilebaby.png" />
    </div>

    <div class="list energized">
      <div class="item item-icon-left" ng-click="openAlpha(0)">
        <img class="icon list-icon-img" src="img/alpha/7.png"/>
        By alphabets
      </div>
      <div class="item item-icon-left " ng-click="openMean(1)">
        <img class="icon list-icon-img" src="img/alpha/8.png"/>
        By meaning
      </div>
      <div class="item item-icon-left" ng-click="openOrigin(2)">
        <img class="icon list-icon-img" src="img/alpha/9.png"/>
        By origin
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-royal custom-footer sea_foot">
    <h4 class="text-center">Choose from our database of {{db_count}} names the ones you like.</h4><!-- ||'99999' -->
  </ion-footer-bar>
</ion-view>
