<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>803064132640-h7fretcj1vj2sqb4p24sdo1pu1dr121g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803064132640-h7fretcj1vj2sqb4p24sdo1pu1dr121g</string>
	<key>API_KEY</key>
	<string>AIzaSyCnbn6DmB5yroESbKOJrwKv7iEGQmTa4Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>803064132640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.babyname258048</string>
	<key>PROJECT_ID</key>
	<string>unique-sikh-baby-names-b24ad</string>
	<key>STORAGE_BUCKET</key>
	<string>unique-sikh-baby-names-b24ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803064132640:ios:c12efa716c2b4edb</string>
	<key>DATABASE_URL</key>
	<string>https://unique-sikh-baby-names-b24ad.firebaseio.com</string>
</dict>
</plist>